Package: com.fatihkg.chatgptfilepicker
Name: ChatGPT File Picker Fix
Version: 0.2.0
Architecture: iphoneos-arm
Description: Enables the ChatGPT web file picker in legacy MobileSafari.
Maintainer: Fatih KGL
Author: Fatih KGL
Section: Tweaks
Depends: mobilesubstrate
